@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    min-width: 350px

}

button {
    border: none;
    padding: 15px 22px;
    margin: 20px 10px 0 10px;
    cursor: pointer;
    background: #ffd000;
    color: #333;
    outline: none;
    transform: scale(1);
    transition: .4s ease;
    border-radius: 25px;
}

button:hover {
    transform: scale(1.1);
}

button#triggerToggle {
    background: #ffd000;
    color: #333;
}

#target {
    padding: 50px 50px;
    /*padding-left: 50px;*/
    background-color: #ffd000;
    text-align: left;
    color: #333;
    font-weight: 700;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

#target h1 {
    max-width: 500px;
    font-size: 1.5;
    margin: 0 auto;
    line-height: 1.618;
    font-weight: regular;
}

.triggers {
    text-align: center;
    vertical-align: 100px;
}


.info_camera {
    padding-left: 0px;
    line-height: 40px;
    clear: both;
    text-align: right;
    /*display: none;*/
}

label {
    float: left;
    padding-right: 10px;
}
