<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{{ full_url }}</title>
</head>
<body>
<div id="target">
    <div class="info_camera">
        <form>
            <label>Настройки интерфейса</label><br>
            <label for="demo_gui_on_full_screen_without_borders" id="demo_gui_title">Demo_gui_on_full_screen_without_borders:</label>
            <p>
                <input type="radio" id="demo_gui_True" value="man" checked name="gender"/>True
            </p>
            <p>
                <input type="radio" id="demo_gui_False" value="woman" name="gender"/>False
            </p>

            <br>
            <label for="demo_monitor_index" id="demo_monitor_index_title">Demo_monitor_index:</label>
            <input type="number" id="demo_monitor_index_value"><br>

            <label for="face_rectangle_border_size"
                   id="face_rectangle_border_size_title">Face_rectangle_border_size:</label>
            <input type="number" id="face_rectangle_border_size_value"><br>
        </form>
    </div>
    <div class="info_face">
        <form>
            <label>Настройки камеры</label><br>
            <label for="video_path_value" id="video_path_title">Video Path:</label>
            <input type="text" id="video_path_value"><br>


            <label for="video_read_width_value" id="video_read_width_title">Video Read Width:</label>
            <input type="number" id="video_read_width_value"><br>

            <label for="video_read_height" id="video_read_height_title">Video Read Height:</label>
            <input type="number" id="video_read_height_value"><br>

            <label for="fps">FPS:</label>
            <input type="number" id="fps_value"><br>

            <div>
                <label for="det_size_x" id="det_size_x_title">Detection Size X:</label>
                <input type="text" id="det_size_x_value"><br>
            </div>

            <div>
                <label for="det_size_y" id="det_size_y_title">Detection Size Y:</label>
                <input type="text" id="det_size_y_value"><br>
            </div>


            <label for="scale_percent" id="scale_percent_title">Scale Percent:</label>
            <input type="text" id="scale_percent_value" <br>
        </form>
    </div>

</div>
<div class="triggers">
    <button id="triggerUp" title="Only slides up the target element">Настройки интерфейса</button>
    <button id="triggerDown" title="Only slides down the target element">Настройки камеры</button>
    <button id="triggerToggle" title="Toggle slide-up and slide-down states for the target">Обогащение</button>
    <div class="stop">
        <button id="start">Старт</button>
    </div>
</div>

</body>
<script src="../static/script.js"></script>
<script id="full-url" data-full-url="{{ full_url }}"></script>
<script id="url-for-post" data-url-for-post="{{ url_for_post }}"></script>

</html>
