<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">

    <title>SlideToggle / SlideUp / SlideDown - Pure JavaScript</title>
</head>
<body>
<div id="target">
    <div class="info_camera"></div>
    <div class="info_face"></div>
</div>
<div class="triggers">
    <button id="triggerUp" title="Only slides up the target element">Настройки интерфейса</button>
    <button id="triggerDown" title="Only slides down the target element">Настройки камеры</button>
    <button id="triggerToggle" title="Toggle slide-up and slide-down states for the target">Скрыть/Показать</button>
</div>

</body>
<script src="../static/script.js"></script>

</html>
