<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles_1.css">
    <title>{{ full_url }}</title>
    <title>CSS Animation</title>
</head>

<body>
<div class="inner">
    <form>
        <div class="field">
            <label>Ввод</label>
            <input type="text">
        </div>

        <div class="field">
            <label>4123541221321341234</label>
            <input type="text">
        </div>
    </form>
</div>

<div class="buttons">
<!--    <button class="button">кнопка</button>-->
<!--    <button class="button2">кнопка2</button>-->
</div>

<script src="../static/script_1.js"></script>
<script id="full-url" data-full-url="{{ full_url }}"></script>
<script id="url-for-post" data-url-for-post="{{ url_for_post }}"></script>
</body>

</html>
